.text-center.cart-close-btn-wrapper {
    margin: 15px 0 0 0;
}
button.btn.btn-primary.cart-close-btn {
    font-size: 11px;
}
.css-79ws1d-MuiModal-root {
    overflow: auto !important;
}
.cart-box.MuiBox-root.css-1acyv19 {
    width: 80%;
    height: auto;
    max-height: 100%;
    overflow: auto;
}
.cart .cart-title {
    font-size: 28px;
    font-weight: 500;
}
.cart .header-menu-wrapper {
    justify-content: center;
    text-align: center;
}
.cart .gifcart {
    height: auto;
    width: auto;
    object-fit: cover;
}
.cart .header-menu-wrapper {
    width: auto;
}
/* .cart{
    margin-bottom: 50px;
} */
.cart .edtail-page-price {
    font-size: 22px;
    font-weight: 500;
}
.cart .item-detail-wrapper {
    overflow: hidden;
    padding: 20px;
}
.cart .product-detail-image {
    height: 100%;
    object-fit: cover;
    width: -webkit-fill-available;
}
.cart .item-detail-cart-action {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* .cart .row.align-items-start {
    height: 100%;
} */
.cart .item-detail-content{
    display: flex;
    height: 100%;
    align-items: center;
}
.cart .item-detail-image {
    height: 100%;
}
.grand-total {
    right: -100px;
    height: 100%;
    top: 0;
    align-items: 0;
    display: flex;
    padding: 0 15px;
    background: aliceblue;
}

.cart-detail-wrapper {
    position: relative;
}
div#modal-modal-description {
    position: relative;
}
.grand-total-p {
    text-align: center;
    margin-bottom: 10px;
}



/* media quary */

@media only screen and (max-width:450px) {
    .cart .item-detail-wrapper {
        height: auto;
        padding: 0;
    }
    .cart .grand-total {
        position: unset;
        justify-content: center;
    }
    .cart .row.align-items-start {
        align-items: center !important;
    }
    .cart h4.product-detail-title {
        font-size: 13px;
    }
    .cart .detail-price.mb-2.col-12 {
        justify-content: start;
    }
    .cart .edtail-page-price {
        font-size: 20px;
    }
    .cart .g-total-wrapper {
        margin: 10px 0;
    }
    .cart a.checkout.btn.btn-primary{
        font-size: 10px;
        display: flex;
        justify-content: center;
    }
    .cart .grand-total-p {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1201px){
    .cart {
        margin: 35px auto;
    }
    .cart .item-detail-wrapper {
        height: 300px;
        overflow: hidden;
        padding: 20px;
    }
    .grand-total {
        position: absolute;
        align-items: center;
    }
    .cart .edtail-page-price {
        font-size: 22px;
    }
}
@media only screen and (min-width:451px) and (max-width:576px){
    .cart .item-detail-wrapper {
        height: 140px;
        padding: 0;
    }
    .cart .grand-total {
        position: unset;
        justify-content: center;
    }
    .cart .row.align-items-start {
        align-items: center !important;
        height: 100%;
    }
    .cart h4.product-detail-title {
        font-size: 15px;
    }
    .cart .detail-price.mb-2.col-12 {
        justify-content: start;
    }
    .cart .edtail-page-price {
        font-size: 22px;
        font-weight: 500;
    }
}
@media only screen and (max-width: 576px){
    .cart {
        margin: 10px auto;
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px){
    .cart .item-detail-wrapper {
        height: 180px;
        padding: 0;
    }
    .cart .grand-total {
        position: unset;
        justify-content: center;
    }
    .cart .row.align-items-start {
        align-items: center !important;
        height: 100%;
    }
    .cart h4.product-detail-title {
        font-size: 15px;
    }
    .cart .detail-price.mb-2.col-12 {
        justify-content: start;
    }
    .cart .edtail-page-price {
        font-size: 22px;
        font-weight: 500;
    }
    .cart p.grand-total-p {
        font-size: 18px;
    }
}
@media only screen and (min-width: 676px) and (max-width: 768px){
}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 992px){
}
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 1400px){}
@media only screen and (min-width: 577px){}
@media only screen and (min-width: 577px) and (max-width: 992px){
    .cart {
        margin: 15px auto;
    }
}
@media only screen and (min-width: 769px){
}
@media only screen and (min-width: 769px) and (max-width: 991px){
    .cart .item-detail-wrapper {
        height: 180px;
        padding: 0;
    }
    .cart .grand-total {
        position: unset;
        justify-content: center;
    }
    .cart .row.align-items-start {
        align-items: center !important;
        height: 100%;
    }
    .cart h4.product-detail-title {
        font-size: 20px;
    }
    .cart .detail-price.mb-2.col-12 {
        justify-content: start;
    }
    .cart .edtail-page-price {
        font-size: 22px;
        font-weight: 500;
    }
    .cart p.grand-total-p {
        font-size: 20px;
    }
    .cart .quantity-buttons>span {
        padding: 0 8px;
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 993px){
}
@media only screen and (min-width: 993px) and (max-width: 1200px){
    .cart {
        margin: 20px auto;
    }
    .cart .item-detail-wrapper {
        height: 280px;
        padding: 0;
    }
    .cart .grand-total {
        position: unset;
        justify-content: center;
    }
    .cart .row.align-items-start {
        align-items: center !important;
        height: 100%;
    }
    .cart h4.product-detail-title {
        font-size: 25px;
    }
    .cart .detail-price.mb-2.col-12 {
        justify-content: start;
    }
    .cart .edtail-page-price {
        font-size: 25px;
        font-weight: 500;
    }
    .cart p.grand-total-p {
        font-size: 25px;
    }
    .cart .quantity-buttons>span {
        padding: 0 8px;
        font-size: 20px !important;
    }
    .cart a.checkout.btn.btn-primary {
        font-size: 15px;
    }
}
/* @media only screen and (min-width: 1201px) and (max-width: 1400px){
    .cart .item-detail-wrapper {
        height: 180px;
        padding: 0;
    }
    .cart .grand-total {
        position: unset;
        justify-content: center;
    }
    .cart .row.align-items-start {
        align-items: center !important;
        height: 100%;
    }
    .cart h4.product-detail-title {
        font-size: 20px;
    }
    .cart .detail-price.mb-2.col-12 {
        justify-content: start;
    }
    .cart .edtail-page-price {
        font-size: 22px;
        font-weight: 500;
    }
    .cart p.grand-total-p {
        font-size: 20px;
    }
    .cart .quantity-buttons>span {
        padding: 0 8px;
        font-size: 20px !important;
    }
} */

@media only screen and (min-width: 1401px){
}
