div#back-to-top {
    overflow: hidden;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #f5222561;
    color: #fff;
    width: 30px;
    height: 30px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    font-size: 13px;
    cursor: pointer;
}
div#back-to-top span {
    padding-top: 6px;
}
div#back-to-top:hover{
    transform: scale(1.1);
    background-color: #f52225;
}
div#back-to-top span:hover{
    color: white;
}
