.empty-cart {
    text-align: center;
}
a.empty-cart-back-to-home.text-decoration-none.text-dark {
    border: 0.5px solid;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(252, 186, 3);
    font-size: 18px;
    font-weight: 400;
}