.header {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    position: relative;
}
.web_logo{
    max-width: 140px;
    height: 27px;
    display: block;
    margin-right: 24px;
    cursor: pointer;
}
.header-location {
    display: flex;
    border-right: 1px solid;
}
.header-search-text{
    border: 0;
}
.header-search-text:focus{
    color: #212529;
    background-color: transparent;
    border:none;
    outline: 0;
    box-shadow:none;
}
.search-box {
    display: flex;
    align-items: center;
}
.header-content-wrapper {
    display: flex;
    align-items: center;
    box-shadow: rgb(28 28 28/8%) 0px 2px 8px;
    border-radius: 10px;
}
i.fa-solid.fa-location-dot {
    color: red;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 13px;
}
.header-search-text {
    display: inline;
}
input#header-search-text {
    width: auto;
    font-size: 13px;
}
i.fa-solid.fa-magnifying-glass {
    padding: 0 0 0 14px;
}
.header-right-content {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}
.form-select {
    background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    padding: 0 5px 0 0 !important;
    border: none;
}
.form-select:focus {
    border: none;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}
i.fa-solid.fa-user {
    color: red;
}
span.face-user {
    height: 26px;
    width: 26px;
    background: aquamarine;
    border-radius: 50%;
    background-image: url('https://randomuser.me/api/portraits/men/32.jpg');
    background-size: cover;
    margin-left: 5px;
}
.mic-listener{
    height: 20px;
    filter: invert(1);
    transition:all 1s ease;
    width: 20px;
}
.header-mic {
    width: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.mobile-modal .header-modal-header.modal-header {
    border: 0 !important;
    justify-content: center !important;
}
.mobile-modal .modal.show .modal-dialog {
    transform: none;
    margin: -2px;
}
.mobile-modal .modal-content {
    border-radius: 0px 0 20px 20px;
}
.mobile-modal .modal-body{
    background-image: url("https://i.giphy.com/media/TDlSjxwwM7WYqNf3fh/giphy.webp") !important;
    height: 167px !important;
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.mobile-modal .modal-footer {
    border: none  !important;
    position: relative  !important;
    justify-content: center  !important;
}
.mobile-modal .modal-footer button.close-btn.btn.btn-primary {
    position: absolute;
    top: 2px;
    background: black;
    border-radius: 50%;
}

/* cart */
.added-cart-sec-table{
    width: 100%;
}
.added-cart-sec-thead-tr {
    border-bottom: 1px solid;
}
.added-cart-sec-thead-tr th{
    padding-bottom: 10px !important;
}
.cart-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}
.header-cart-image {
    width: 40%;
    padding: 10px 10px 10px 0;
    position: relative;
}
p.header-cart-total {
    font-size: 14px;
    font-weight: 500;
}
.header-cart-content {
    width: 60%;
    padding: 0px 0 0 26px;
}
.header-cart-image img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 85px;
    position: relative;
}
.header-cart-image .trash-bin {
    color: red;
    position: absolute;
    right: 1px;
    background: #ff0000a6;
    color: black;
    padding: 6px;
    top: 0px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.trash-bin:hover{
    color: white;
    background-color: #fd0128;
    transition: all 0.3s ease-in-out;
}
.header-cart-content-name, .header-cart-content-price, .header-cart-content-qnty {
    font-size: 13px;
    line-height: 1.5rem;
}
.header-cart-content-name{
    font-weight: 600;
}
span.header-cart-add-to-cart-btn.btn.btn-primary {
    padding: 2px 10px;
    font-size: 10px;
}

span.text.different {
    margin-right: 7px;
}
span.qnty-btn {
    padding: 0 5px;
    background: #eeee;
}
.qnty-btn-wrapper {
    margin-left: 7px;
}
/* cart */
.header-menu-wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    margin: 0 auto;
}
img.gifcart {
    height: 60px;
    width: 60px;
    object-fit: cover;
}
i.fa-solid.fa-xmark {
    text-align: right;
    width: 100%;
    padding-right: 10%;
}   
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    top: 60px !important;
    left: 950px !important;
    width: 380px !important;
    max-height: 500px !important;
    position: relative;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 10px 17px;
}
hr.add-cart-hr {
    margin: 0;
}
.add-to-cart {
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
p.username {
    color: black;
}
.fixed {
    position: fixed;
    width: 100%;
    background-color: #fff !important;
    transition: all .3s ease;
    color: #00000047;
    top: 0%;
    box-shadow: 0 0 17px 0;
    left: 0;
    right: 0;
    z-index: 999;
}
span#basic-button {
    font-size: 22px;
    font-weight: 900;
    color: black;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.css-137ul40-MuiButtonBase-root-MuiIconButton-root {
    margin: 0;
    padding: 0;
}
p.header-grand-total {
    font-weight: 600;
}
@media only screen and (max-width: 576px){
    i.fa-solid.fa-caret-down {
        font-size: 13px;
    }
    .header-location  p {
        font-size: 11px;
    }
    .header-location {
        width: 94px;
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 10px;
    }
    i.fa-solid.fa-magnifying-glass {
        font-size: 13px;
    }
    input#header-search-text {
        font-size: 12px;
        padding-left: 5px;
    }
    .form-select {
        background-size: 10px;
        background-position-x: 39px;
        background-position-y: 63%;
        font-size: 12px;
        margin-left: 6px;
        width: 90px;
    }
    i.fa-solid.fa-location-dot {
        font-size: 12px;
    }
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
        top: 50px !important;
        left: auto !important;
        width: 380px !important;
        max-height: 400px !important;
        margin: 0 auto;
        position: relative;
    }
    ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
        padding: 10px 15px;
    }
    .added-cart-sec-thead-tr th {
        padding-bottom: 0px !important;
        font-size: 12px;
    }
    .header-cart-image {
        width: 30%;
    }
    .header-cart-image .trash-bin {
        font-size: 10px;
    }
    .header-cart-content {
        padding: 0 0 0 38px;
    }
    .header-cart-content-name, .header-cart-content-price, .header-cart-content-qnty {
        font-size: 12px;
        line-height: 18.5px;
        font-weight: 500;
    }
    p.header-cart-total {
        font-size: 14px;
        font-weight: 900;
    }
    span.text.different {
        font-weight: 600;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px)  {
    .header-location {
        width: 90px;
        margin-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
    }
    .form-select {
        background-size: 10px;
        background-position-x: 45px;
        background-position-y: 63%;
        font-size: 12px;
        width: 70px;
        margin-left: 5px;
    }
}
@media only screen and (max-width: 768px){
    .header {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .header .web_logo {
        display: none;
    }
    .header-content-wrapper {
        background-color: #8080801a;
        width: 100%;
        justify-content: space-evenly;
    }
    input#header-search-text {
        background: transparent;
    }
    i.fa-solid.fa-microphone {
        color: #fd0128;
        font-size: 14px;
    }
    .header-right-content {
        display: none;
    }
    .header-right-content.right-content-mobile{
        display: flex;
    }
    .search-box {
        width: calc(100% - 95px);
    }
    .header {
        margin: 10px 0;
    }
    .mobile-modal .modal-dialog{
        margin: 0 auto !important;
    }
    .MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.face-user.css-1f917sv-MuiAvatar-root,svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.cur-po.css-i4bv87-MuiSvgIcon-root {
        height: 18px;
        width: 18px;
    }
    .MuiBox-root.css-5nwj3y {
        margin-right: 20px;
    }
    span.MuiBadge-badge.MuiBadge-standard.MuiBadge-anchorOriginTopRight.MuiBadge-anchorOriginTopRightRectangular.MuiBadge-overlapRectangular.MuiBadge-colorPrimary.MuiBadge-badge.css-106c1u2-MuiBadge-badge {
        height: 12px;
        min-width: 12px;
        font-size: 8px;
        padding: 0;
        margin: 0;
        border: 0;
        right: 2px;
        top: 4px;
    }
}


@media only screen and (max-width: 992px){}
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 1400px){}
@media only screen and (min-width: 577px){}
@media only screen and (min-width: 769px){
    i.fa-solid.fa-microphone {
        display: none;
    }
    .header {
        align-items: center;
    }
    .header-wrapper {
        padding: 15px 0;
    }
    .header-location {
        width: 120px;
        justify-content: space-evenly;
    }
    .search-box {
        width: 350px;
    }
    .header-right-content.right-content-mobile{
        display: none;
    }
    span#basic-button {
        margin-left: 35px;
    }
    .headermobilecart {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px){
    .form-select {
        background-size: 10px;
        background-position-x: 43px;
        background-position-y: 63%;
        font-size: 13px;
        width: 70px;
    }
}
@media only screen and (min-width: 992px){

    .form-select {
        background-size: 14px;
        background-position-x: 56px;
        background-position-y: 55%;
        width: 80px;
    }
    i.fa-solid.fa-location-dot {
        font-size: 15px;
    }
}
@media only screen and (min-width: 1201px){}
@media only screen and (min-width: 1401px){}