/* .explore-section{
    margin-top: 16px;
} */
.explore-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}




@media only screen and (min-width: 300px) and (max-width:435px){
    .explore-section {
        margin: 12px 0;
    }
}
@media only screen and (min-width: 435px) and (max-width:576px){
}
@media only screen and (max-width: 576px){   
}
@media only screen and (min-width: 576px) and (max-width: 768px)  {
}
@media only screen and (max-width: 768px){
}
@media only screen and (min-width: 768px) and (max-width: 992px){
}
@media only screen and (max-width: 992px){}
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 1400px){}
@media only screen and (min-width: 577px){}
@media only screen and (min-width: 769px){
}
@media only screen and (min-width: 993px){
    .res-description {
        height: 50px;
    }
}
@media only screen and (min-width: 1201px){}
@media only screen and (min-width: 1401px){}
